@use "mixins";

/*-------------------------------------- Mobile first ------------------------------------*/
html {
    
    @include mixins.themeColor;  
    scroll-behavior: smooth;
 
    body {
        margin: 0;

        .container {
            background-color: rgb(255, 246, 246);
            border-radius: 5px;
            
            margin-top: 0%;
            padding-top: 2%;
            padding-bottom: 3%;

            header {
                nav {
                    padding: 2%;
                    display: flex;
                    flex-direction: column;
                    
                    #signature {
                        font-family: Damion;
                        font-size: 161%;
                    }
                    .container-fluid {
                        display: flex;
                        flex-direction: row;
                    }
                }
            }

            main {

                .mainHeading {
                    display: flex;
                    flex-direction: column;
                    text-align: center; 
                    align-items: center;  
                    
                    .FED {
                        font-family: Playfair Display;
                        font-size: 1.4rem;
                    }
                    .portfolio-text {
                        margin: 1%;
                        font-family: Playfair Display;
                        font-size: 4rem;
                    }

                    .heart-container {
                        @include mixins.heart;
                    }
                }

                .mainContainer {
                    display: flex; 
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .arrowUp {
                        margin-top: -20px;
                        margin-bottom: 30px;

                        a {
                            text-decoration: none;

                            svg{
                                // @include mixins.fontContrastColor;  
                                color: rgb(255, 188, 234);  
                            }
                        }
                    }
                    #helloContainer, #aboutContainer, #projectsContainer, #contactContainer {
                        background-color: white;
                        padding: 4% !important;
                        margin-bottom: 7%;
                        width: 100%;
                        text-align: center;
                        font-family: Playfair Display;
                    }

                    #helloContainer, #aboutContainer, #projectsContainer, #contactContainer {
                        h4 {
                            margin-bottom: 2%;    
                        }
                        h5 {
                            margin-bottom: 4%;    
  
                        }
                        .alive {
                            color: green;
                            cursor: none; 
                            transition: color 1s;
                        }
                        
                        .alive:hover {
                            color:greenyellow;
                        }
                    }

                    #helloContainer {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        h4 {
                            padding-top: 1.5%;
                            padding-bottom: 1.5%;
                        }
                        
                        .profileImgBox {
                            .profileImg {
                                margin: 25px;
                                width: 40%;
                                border-radius: 50%;
                                
                                &:hover {
                                    width: 42% !important;
                                    transform: rotate(-5deg);
                                    margin: 22.4px;
                                }
                            }
                        }
                        #helloAboutParagraphs {
                            width: 80%;
                        }
                    }

                    #projectsContainer {

                        // .projectsImgBox {
                        //     display: flex;
                        //     justify-content: center;
                        //     align-items: center;
                        //     .projectsImg {
                        //         width: 50%;
                        //         border-radius: 7.5px;
                        //     }
                        // }

                        #projectsContainer__repos {
                            display: flex;
                            flex-direction: column;
                            align-items:center;

                            .repoBox {
                                // background-image: url("https://angelicareutersward.se/assets/busybee.JPG");
                                // background-repeat: no-repeat;
                                // background-size: cover;
                                width: 90vw;

                                .repo__link {
                                    text-decoration: none;
                                    cursor: pointer;
                                    
                                    .repo__title {
                                        //  @include mixins.themeColor;
                                        // border-radius: 15px;
                                        // padding-left: 20px;
                                        // padding-right: 20px;
                                        // padding-bottom: 2px;
                                        // color: white;

                                        // color: black;
                                        //@include mixins.fontThemeColor;
                                        @include mixins.fontContrastColor;
                                        font-family: Damion;
                                        font-size: 1.5rem;

                                        .repo__description {
                                            font-family: Playfair Display;
                                            // @include mixins.contrastColor;
                                            // color: white;
                                            color: black;
                                            //color: rgb(255, 191, 211);
                                            // @include mixins.fontContrastColor;  

                                            // border-radius: 15px;
                                            // padding-left: 10px;
                                            // padding-right: 10px;
                                            font-size: .9rem;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    #aboutContainer{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .aboutBoxes {
                            display: flex;
                            flex-direction: column;
                            gap: 15%;

                            #techSkillsBox {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                
                                .skillsIconsBox {
                                    margin-bottom: 1rem;

                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    align-items: center;
                                    flex-wrap: wrap;
                                    // color: pink;
                                    // @include mixins.fontThemeColor;  
                                    @include mixins.fontContrastColor;  

                                    width: 80%;
                                    gap: 20px;

                                    span {
                                        font-size: .9rem;
                                    }
                                }                         
                            }

                            #relevantEducationBox {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                .educationsBox {
                                    display: flex;
                                    flex-direction: column;
                                    align-items:flex-start;    
                                    #medieinstitutetURL {
                                        text-decoration: none;
                                        @include mixins.fontContrastColor;  

                                    }
                                }
                            }

                            #workExperienceBox {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                p {
                                    width: 80%;
                                }
                            }

                            #CVBox {
                                #CVLink {
                                    text-decoration: none;
                                    @include mixins.fontContrastColor;  

                                    font-weight: bold;

                                    display: inline-block;
                                    animation: skew 5s infinite;
                                    transform: skew(10deg);
                                    opacity: 1;
                                }
                                @keyframes skew {
                                    0% {
                                      transform: skewX(0deg);
                                    }
                                    25% {
                                        transform: skewX(10deg);
                                      }
                                    50% {
                                        transform: skewX(-10deg);
                                      }
                                    100% {
                                      transform: skewX(0deg);
                                    }
                                  }
                            }
                        }

                        // .techImgBox {
                        //     display: flex;
                        //     justify-content: center;
                        //     align-items: center;
                        //     .techImg {
                        //         width: 50%;
                        //         border-radius: 7.5px;
                        //     }
                        // }
                    }

                    #contactContainer {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        #contactContainerJS {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 80%;    
                            p {
                                width: 100%;
                            }
                        }

                        #socialsBox {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            gap: 25px;
                            padding-left: 0;
        
                            li {
                                list-style: none;
        
                                a {
                                    position: relative;
        
                                    color: black;
                                    text-decoration: none;
                                    cursor: pointer;
        
                                    &:active {
                                        color: rgb(255, 0, 111);
                                    }

                                    &:visited {
                                        color: black;
                                    }
                                
                                    svg {
                                        border-radius: 3px;
                                    }
                                }      
        
                            }
                        }
                    }
                }
            }

            footer {
                display: flex;
                // flex-direction: column;
                justify-content: center;
                align-items: center;
                font-family: Damion;
                /* padding: 1%; */
                //padding-left: 0;
                // padding-bottom: 3%;
            }
        }
    }
}
/*-------------------------------------- Desktop ------------------------------------*/
@media screen and (min-width: 1000px) {
    body {
        .container {
            padding: 3%;
            margin-top: 2%;
            padding-top: 0%;
            padding-bottom: 0%;

            main {                
                .mainHeading {
                    .FED {
                        font-size: 1.4rem;
                    }
                    .portfolio-text {
                        font-size: 9rem;
                    }
                }

                .mainContainer {

                    #helloContainer {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .profileImgBox {
                            .profileImg {
                                padding: 1%;
                                width: 40% !important;
                            }
                        }

                        #helloAboutParagraphs {
                            width: 65% !important;
                        }
                    }

                    #projectsContainer {
                        #projectsContainer__repos {
                            display: flex;
                            flex-direction: row !important;
                            flex-wrap: wrap;
                            justify-content: space-evenly;
                            align-items: flex-start !important;

                            .repoBox {
                                width: 30% !important;
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-start;

                                .repo__link:hover {
                                    display: inline-block;
                                    animation: skew 5s infinite;
                                    transform: skew(10deg);
                                    opacity: 1;                                }
                            }
                        }
                    }
                    #aboutContainer {
                        #workExperienceBox {
                            p {
                                width: 65%;
                            }
                        }
                    }

                    #contactContainer {
                        #contactContainerJS {
                            width: 65%;
                            p {
                                width: 100%;
                            }
                        }

                        #socialsBox {
                            // width: 15%;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            gap: 15px;
                            
                            .hoverHeart {
                                padding: 2%;

                                li {
                                    display: flex;
                                    flex-direction: row;
                                           
                                    &:hover {
                                        margin: 10%;
                                        height: 10px;
                                        width: 10px;
                                        transform: rotate(45deg);
                                        @include mixins.themeColor;
                                        animation: heart 1.5s infinite;
                                
                                        svg {
                                            transform: rotate(-45deg);
                                            translate: 2px;
                                        }
                                    }
                                    &:hover::before, &:hover::after { 
                                        position: absolute;
                                        content: ""; 
                                        height: 10px;
                                        width: 10px;
                                        border-radius: 50%;
                                        @include mixins.themeColor;
                                    }
                                    &:hover::before {
                                        left: -7px;
                                
                                    }
                                    &:hover::after {
                                        top: -7px;
                                    }
            
                                    a {            
                                        color: black;
                                        text-decoration: none;
                                        cursor: pointer;
            
                                        &:active {
                                            color: rgb(255, 0, 111) !important;
                                        }
                                    
                                        &:visited {
                                            color: black;
                                        }
                                    
                                        svg {
                                            border-radius: 3px;
                                        }
                                    }      
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}